In [159]:
import pandas as pd
import numpy as np

In [160]:
# Read the data
raw = pd.read_csv('car_data.csv')

In [161]:
df = raw.copy()

In [162]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [163]:
# Create the column years_old
df['years_old'] = 2023 - df['Year']
# Create the column price diff
df['price_diff'] =  df['Selling_Price'] - df['Present_Price']
# Create the column price diff/years_old
df['devaluation_ratio'] = df['price_diff'] / df['years_old']

# Create feature km per year
df['km_per_year'] = df['Kms_Driven'] / df['years_old']

In [164]:
# Remove rows with value CNG in Fuel_Type
df = df[df['Fuel_Type'] != 'CNG']
# Remove rows with value 3 in owner
df = df[df['Owner'] != 3]

In [165]:
# Save devaluation ratio per name in a new df
devaluation_ratio = df.groupby('Car_Name')['devaluation_ratio'].mean().sort_values(ascending=False).reset_index()
# Save in a csv file
devaluation_ratio.to_csv('devaluation_ratio.csv', index=False)

In [166]:
# Encode Fuel_Type, Seller_Type, Transmission
df = pd.get_dummies(df, columns=['Fuel_Type', 'Seller_Type', 'Transmission'], drop_first=True)

In [167]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Owner,years_old,price_diff,devaluation_ratio,km_per_year,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,0,9,-2.24,-0.248889,3000.000000,1,0,1
1,sx4,2013,4.75,9.54,43000,0,10,-4.79,-0.479000,4300.000000,0,0,1
2,ciaz,2017,7.25,9.85,6900,0,6,-2.60,-0.433333,1150.000000,1,0,1
3,wagon r,2011,2.85,4.15,5200,0,12,-1.30,-0.108333,433.333333,1,0,1
4,swift,2014,4.60,6.87,42450,0,9,-2.27,-0.252222,4716.666667,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,0,7,-2.10,-0.300000,4855.428571,0,0,1
297,brio,2015,4.00,5.90,60000,0,8,-1.90,-0.237500,7500.000000,1,0,1
298,city,2009,3.35,11.00,87934,0,14,-7.65,-0.546429,6281.000000,1,0,1
299,city,2017,11.50,12.50,9000,0,6,-1.00,-0.166667,1500.000000,0,0,1
300,brio,2016,5.30,5.90,5464,0,7,-0.60,-0.085714,780.571429,1,0,1

In [168]:
# Remove outliers
# Get outliers
def get_outliers(df, col):
    q1 = df[col].quantile(0.10)
    q3 = df[col].quantile(0.90)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    return df[(df[col] < lower_bound) | (df[col] > upper_bound)]

# Remove outliers


drop_index = get_outliers(df, 'Selling_Price')
df = df.drop(drop_index.index)

drop_index = get_outliers(df, 'Present_Price')
df = df.drop(drop_index.index)

drop_index = get_outliers(df, 'Kms_Driven')
df = df.drop(drop_index.index)

drop_index = get_outliers(df, 'years_old')
df = df.drop(drop_index.index)

drop_index = get_outliers(df, 'price_diff')
df = df.drop(drop_index.index)

drop_index = get_outliers(df, 'devaluation_ratio')
df = df.drop(drop_index.index)

drop_index = get_outliers(df, 'km_per_year')
df = df.drop(drop_index.index)

In [173]:
#Â Round km_per_year
df['km_per_year'] = df['km_per_year'].round(0)
# Round devaluation ratio
df['devaluation_ratio'] = df['devaluation_ratio'].round(2)

In [174]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Owner,years_old,price_diff,devaluation_ratio,km_per_year,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,0,9,-2.24,-0.25,3000.0,1,0,1
1,sx4,2013,4.75,9.54,43000,0,10,-4.79,-0.48,4300.0,0,0,1
2,ciaz,2017,7.25,9.85,6900,0,6,-2.60,-0.43,1150.0,1,0,1
3,wagon r,2011,2.85,4.15,5200,0,12,-1.30,-0.11,433.0,1,0,1
4,swift,2014,4.60,6.87,42450,0,9,-2.27,-0.25,4717.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,0,7,-2.10,-0.30,4855.0,0,0,1
297,brio,2015,4.00,5.90,60000,0,8,-1.90,-0.24,7500.0,1,0,1
298,city,2009,3.35,11.00,87934,0,14,-7.65,-0.55,6281.0,1,0,1
299,city,2017,11.50,12.50,9000,0,6,-1.00,-0.17,1500.0,0,0,1
300,brio,2016,5.30,5.90,5464,0,7,-0.60,-0.09,781.0,1,0,1

In [170]:
# Save the new df
df.to_csv('car_data_clean.csv', index=False)